@import "tailwindcss";
@config "../tailwind.config.js";
@import "../styles/tokens.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.font-display {
  font-family: var(--second-family);
}