@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/tokens.css";

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-scheme-2-text);
  font-family: var(--font-family);
}

.font-display {
  font-family: var(--second-family);
}
