@import "tailwindcss";
@config "../tailwind.config.js";
@import "./tokens.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--second-family);
}

@layer components {
  .section-shell {
    @apply py-[64px] lg:py-[112px] px-[20px] md:px-[30px] xl:px-[80px];
  }
}