@import "tailwindcss";
@config "../tailwind.config.js";
@import "./tokens.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}

h1, h2, h3, h4, h5 {
  font-family: var(--second-family);
}
h6 {
  font-family: var(--font-family);
}

h1 {
  @apply max-w-[370px]
          font-bold
          text-[40px]
          md:leading-[95%] leading-[100%]
          tracking-[-0.01em]
          uppercase
          md:text-[40px] lg:text-[64px];
}
h2 {
  @apply font-bold 
          lg:pb-[32px] pb-[24px] 
          lg:text-[60px] text-[36px]
          tracking-[-0.01em] 
          uppercase 
          leading-none;
}
h3 {
  @apply font-bold 
          lg:pb-[24px] pb-[20px]
          lg:text-[48px] text-[28px]
          tracking-[-0.01em]
          uppercase
          leading-none;
}
h4 {
  @apply font-bold 
          pb-[8px] 
          lg:text-[32px] text-[20px] 
          leading-[1.1];
}
h5 {
  @apply font-bold 
        lg:pb-[16px] pb-[12px]
        lg:text-[26px] text-[18px] 
        leading-[1.1]
        uppercase;
}
h6 {
  @apply font-semibold 
        lg:pb-[16px] pb-[12px]
        text-[16px] 
        leading-normal;
}

@layer components {
  .section-shell {
    @apply py-[64px] lg:py-[112px]
            px-[20px] md:px-[30px] xl:px-[80px];
  }
}

@layer utilities {
  .section--black {
    @apply bg-[var(--color-scheme-2-background)]
          text-[var(--color-scheme-2-text)];
  }
  .section--light-black {
    @apply bg-[#191919]
          text-[var(--color-scheme-2-text)];
  }
  .section--pink {
    @apply bg-[var(--color-scheme-1-background)]
          text-[var(--color-scheme-1-text)];
  }
  .section--white {
    @apply bg-[var(--color-white)]
          text-[var(--color-scheme-1-text)];
  }
}